Repository LuanRT/YouTube.js, pull requests merged in 2022-09, with the labels that each got.

#159 Minor fixes
  src/parser/classes/NavigationEndpoint.ts
  src/parser/index.ts
Labels: bug

#160 docs: add parser info and examples
  README.md
  examples/parser/artist.json
  examples/parser/index.ts
Labels: docs, medium-diff

#161 fix: ytmusic formats returning 401 when deciphered
  src/core/Music.ts
  src/parser/youtube/VideoInfo.ts
Labels: bug, parser, core, small-diff

#162 fix: `Music#getAlbum()`fails for private album ID
  src/core/Music.ts
Labels: bug, core, xsmall-diff

#164 feat: Add paid chat color info
  src/parser/classes/livechat/items/LiveChatPaidMessage.ts
  src/parser/classes/livechat/items/LiveChatPaidSticker.ts
Labels: enhancement, parser, small-diff

#165 feat: add `music#getRecap()`
  docs/API/music.md
  src/core/Actions.ts
  src/core/Music.ts
  src/parser/classes/Element.ts
  src/parser/classes/HighlightsCarousel.ts
  src/parser/classes/MusicElementHeader.ts
  src/parser/classes/MusicLargeCardItemCarousel.ts
  src/parser/classes/NavigationEndpoint.ts
  src/parser/map.ts
  src/parser/youtube/Analytics.ts
  src/parser/ytmusic/Playlist.ts
  src/parser/ytmusic/Recap.ts
Labels: enhancement, docs, parser, core, medium-diff

#169 feat: add `<info>#addToWatchHistory()`
  README.md
  src/core/Actions.ts
  src/core/Music.ts
  src/parser/index.ts
  src/parser/youtube/VideoInfo.ts
  src/parser/ytmusic/Recap.ts
  src/parser/ytmusic/TrackInfo.ts
  src/utils/Constants.ts
Labels: enhancement, docs, parser, core, medium-diff

#170 Fixes for `Music#getArtist()` and `DropdownItem`
  src/core/Music.ts
  src/parser/classes/DropdownItem.ts
  src/parser/ytmusic/Artist.ts
Labels: parser, core, xsmall-diff

#173 fix: search continuations not being parsed correctly
  package-lock.json
  package.json
  src/parser/classes/TitleAndButtonListHeader.ts
  src/parser/map.ts
  src/parser/youtube/Search.ts
  test/main.test.ts
Labels: bug, parser, small-diff, tests

#177 feat: add LiveChatAutoModMessage
  src/parser/classes/livechat/items/LiveChatAutoModMessage.ts
  src/parser/map.ts
Labels: enhancement, parser, small-diff

#179 fix: `LiveChatAuthorBadge` where `MetadataBadge` was expected
  src/parser/classes/livechat/items/LiveChatPaidMessage.ts
  src/parser/classes/livechat/items/LiveChatTextMessage.ts
  src/parser/classes/livechat/items/LiveChatTickerPaidMessageItem.ts
Labels: bug, parser, small-diff

#180 feat: add `CollaboratorInfoCardContent` renderer parser
  src/parser/classes/CollaboratorInfoCardContent.ts
  src/parser/map.ts
Labels: enhancement, parser, small-diff

#181 feat(LiveChat): add `SegmentedLikeDislikeButton` and `LiveChatDialog`
  src/parser/classes/LiveChatDialog.ts
  src/parser/classes/SegmentedLikeDislikeButton.ts
  src/parser/map.ts
Labels: enhancement, parser, small-diff

#183 fix: improve sig extraction
  package-lock.json
  package.json
  src/core/Player.ts
Labels: bug, core, small-diff

#184 feat(Music): add automix support and minor improvements
  docs/API/music.md
  src/core/Actions.ts
  src/core/Music.ts
  src/parser/classes/AudioOnlyPlayability.ts
  src/parser/classes/BrowserMediaSession.ts
  src/parser/classes/MusicDownloadStateBadge.ts
  src/parser/classes/MusicItemThumbnailOverlay.ts
  src/parser/classes/MusicQueue.ts
  src/parser/classes/MusicResponsiveListItem.ts
  src/parser/classes/MusicTwoRowItem.ts
  src/parser/classes/NavigationEndpoint.ts
  src/parser/classes/PlayerOverlay.ts
  src/parser/index.ts
  src/parser/map.ts
  src/parser/ytmusic/TrackInfo.ts
  test/main.test.ts
Labels: enhancement, docs, parser, core, medium-diff, tests

#188 added missing import in index.ts
  index.ts
Labels: bug, xsmall-diff

#194 fix: minor parsing issues and other improvements
  src/parser/classes/ConfirmDialog.ts
  src/parser/classes/MetadataScreen.ts
  src/parser/classes/PlayerErrorMessage.ts
  src/parser/classes/SubscribeButton.ts
  src/parser/classes/VideoSecondaryInfo.ts
  src/parser/index.ts
  src/parser/map.ts
Labels: bug, parser, small-diff

#193 feat: add `TVHTML5_SIMPLY_EMBEDDED_PLAYER` client
  README.md
  src/Innertube.ts
  src/core/Session.ts
  src/parser/youtube/VideoInfo.ts
  src/utils/Constants.ts
  src/utils/HTTPClient.ts
Labels: enhancement, docs, parser, core, small-diff

#197 fix: browser example
  examples/browser/README.md
  examples/browser/proxy/deno.ts
Labels: bug, documentation, docs, small-diff

#198 fix: include `thirdParty` prop for requests using `TV_EMBEDDED`
  package-lock.json
  package.json
  src/core/Session.ts
  src/utils/HTTPClient.ts
Labels: bug, core, small-diff

#206 docs: add parser ytnode instructions & other minor changes
  CONTRIBUTING.md
  docs/updating-the-parser.md
  src/parser/README.md
  src/parser/index.ts
Labels: docs, parser, medium-diff
