Repository LuanRT/YouTube.js, pull requests merged in 2022-10, with the labels that each got.

#202 Live Chat - Implement moderation
  package.json
  src/core/Actions.ts
  src/parser/classes/NavigationEndpoint.ts
  src/parser/classes/livechat/items/LiveChatAutoModMessage.ts
  src/parser/classes/livechat/items/LiveChatPaidSticker.ts
  src/parser/classes/livechat/items/LiveChatTextMessage.ts
  src/parser/index.ts
  src/parser/youtube/ItemMenu.ts
  src/parser/youtube/LiveChat.ts
Labels: enhancement, parser, core, medium-diff

#214 Live Chat - add RemoveChatItemAction and LiveChatTickerStickerItem
  src/parser/classes/livechat/RemoveChatItemAction.ts
  src/parser/classes/livechat/items/LiveChatTickerPaidStickerItem.ts
  src/parser/map.ts
Labels: enhancement, parser, small-diff

#217 fix: wrong element name
  src/parser/index.ts
Labels: bug, parser, xsmall-diff

#219 feat(studio): add support for updating video metadata
  docs/API/studio.md
  src/core/Studio.ts
  src/proto/index.ts
  src/proto/youtube.proto
  src/proto/youtube.ts
Labels: docs, core, protobuf, large-diff

#220 refactor: improve live chat polling
  src/parser/classes/livechat/RemoveChatItemByAuthorAction.ts
  src/parser/map.ts
  src/parser/youtube/LiveChat.ts
Labels: enhancement, parser, medium-diff

#223 Don't remove "VL" from playlist id
  src/Innertube.ts
Labels: parser, xsmall-diff

#222 feat: custom parser error handler
  src/parser/index.ts
Labels: enhancement, parser, small-diff
