Repository LuanRT/YouTube.js, pull requests merged in 2022-11, with the labels that each got.

#228 refactor: clean up, fix & remove outdated code
  README.md
  docs/API/music.md
  package-lock.json
  src/Innertube.ts
  src/core/AccountManager.ts
  src/core/Actions.ts
  src/core/Feed.ts
  src/core/FilterableFeed.ts
  src/core/InteractionManager.ts
  src/core/Music.ts
  src/core/OAuth.ts
  src/core/PlaylistManager.ts
  src/core/Studio.ts
  src/parser/classes/Grid.ts
  src/parser/classes/MusicDetailHeader.ts
  src/parser/classes/MusicResponsiveListItem.ts
  src/parser/classes/MusicSideAlignedItem.ts
  src/parser/classes/MusicTwoRowItem.ts
  src/parser/classes/NavigationEndpoint.ts
  src/parser/classes/PlaylistPanelVideo.ts
  src/parser/classes/comments/Comment.ts
  src/parser/classes/comments/CommentThread.ts
  src/parser/classes/menus/MusicMultiSelectMenuItem.ts
  src/parser/classes/misc/Author.ts
  src/parser/index.ts
  src/parser/youtube/AccountInfo.ts
  src/parser/youtube/Analytics.ts
  src/parser/youtube/Channel.ts
  src/parser/youtube/Comments.ts
  src/parser/youtube/ItemMenu.ts
  src/parser/youtube/Library.ts
  src/parser/youtube/LiveChat.ts
  src/parser/youtube/NotificationsMenu.ts
  src/parser/youtube/Playlist.ts
  src/parser/youtube/Search.ts
  src/parser/youtube/Settings.ts
  src/parser/youtube/TimeWatched.ts
  src/parser/youtube/VideoInfo.ts
  src/parser/ytmusic/Album.ts
  src/parser/ytmusic/Artist.ts
  src/parser/ytmusic/Explore.ts
  src/parser/ytmusic/HomeFeed.ts
  src/parser/ytmusic/Library.ts
  src/parser/ytmusic/Playlist.ts
  src/parser/ytmusic/Recap.ts
  src/parser/ytmusic/Search.ts
  src/parser/ytmusic/TrackInfo.ts
  src/proto/index.ts
  src/proto/youtube.proto
  src/utils/Utils.ts
Labels: docs, xlarge-diff, parser, core, protobuf

#231 fix: WatchCardHeroVideo accessibilityData parse error
  src/parser/classes/WatchCardHeroVideo.ts
  test/constants.ts
  test/main.test.ts
Labels: bug, parser, small-diff, tests

#233 feat: add support for topic/auto-generated channels and fix minor parsing errors
  examples/channel/basic-info.ts
  scripts/build-parser-map.js
  src/parser/classes/CarouselHeader.ts
  src/parser/classes/CarouselItem.ts
  src/parser/classes/CompactStation.ts
  src/parser/classes/DefaultPromoPanel.ts
  src/parser/classes/GameCard.ts
  src/parser/classes/GameDetails.ts
  src/parser/classes/InteractiveTabbedHeader.ts
  src/parser/classes/ItemSection.ts
  src/parser/classes/PlaylistCustomThumbnail.ts
  src/parser/classes/RecognitionShelf.ts
  src/parser/classes/RichListHeader.ts
  src/parser/classes/ThumbnailLandscapePortrait.ts
  src/parser/classes/TopicChannelDetails.ts
  src/parser/classes/VideoCard.ts
  src/parser/classes/misc/NavigatableText.ts
  src/parser/index.ts
  src/parser/map.ts
  src/parser/youtube/Channel.ts
Labels: enhancement, parser, medium-diff

#234 refactor: improve home feed parsing
  README.md
  src/Innertube.ts
  src/core/Feed.ts
  src/core/FilterableFeed.ts
  src/parser/classes/FeedFilterChipBar.ts
  src/parser/classes/RichGrid.ts
  src/parser/classes/RichItem.ts
  src/parser/classes/RichSection.ts
  src/parser/classes/RichShelf.ts
  src/parser/youtube/HomeFeed.ts
  test/main.test.ts
Labels: docs, parser, core, medium-diff, tests

#236 feat: add support for switching accounts (cookie based auth only)
  src/core/AccountManager.ts
  src/core/Actions.ts
  src/core/InteractionManager.ts
  src/core/PlaylistManager.ts
  src/core/Session.ts
  src/core/Studio.ts
  src/utils/HTTPClient.ts
Labels: enhancement, core, small-diff

#237 feat(Channel): add support for filters
  README.md
  src/core/Feed.ts
  src/parser/classes/SectionList.ts
  src/parser/youtube/Channel.ts
  test/constants.ts
  test/main.test.ts
Labels: enhancement, docs, parser, core, medium-diff, tests

#240 feat: make `Player` instance optional
  src/core/Actions.ts
  src/core/Music.ts
  src/core/Session.ts
  src/parser/classes/misc/Format.ts
  src/parser/youtube/VideoInfo.ts
Labels: enhancement, parser, core, small-diff

#247 refactor: improve Search parser
  src/parser/classes/HorizontalCardList.ts
  src/parser/classes/RichListHeader.ts
  src/parser/classes/Shelf.ts
  src/parser/classes/UniversalWatchCard.ts
  src/parser/classes/VerticalWatchCardList.ts
  src/parser/classes/Video.ts
  src/parser/classes/WatchCardHeroVideo.ts
  src/parser/classes/WatchCardRichHeader.ts
  src/parser/classes/WatchCardSectionSequence.ts
  src/parser/youtube/Library.ts
  src/parser/youtube/Search.ts
Labels: parser, medium-diff

#249 fix: signature decipher extraction failing
  src/core/Player.ts
Labels: bug, core, xsmall-diff
