Repository LuanRT/YouTube.js, pull requests merged in 2022-12, with the labels that each got.

#254 feat(TextRun): add support for formatting
  src/parser/classes/misc/TextRun.ts
  test/constants.ts
  test/main.test.ts
Labels: parser, small-diff, tests

#256 feat: bring back `Video#is_live` and add `ExpandableMetadata`
  src/parser/classes/Button.ts
  src/parser/classes/ExpandableMetadata.ts
  src/parser/classes/HorizontalCardList.ts
  src/parser/classes/MacroMarkersListItem.ts
  src/parser/classes/MetadataBadge.ts
  src/parser/classes/Video.ts
  src/parser/map.ts
  src/parser/youtube/Search.ts
Labels: enhancement, parser, medium-diff

#258 refactor: reduce reliance on localised strings
  src/core/Music.ts
  src/core/TabbedFeed.ts
  src/parser/classes/C4TabbedHeader.ts
  src/parser/classes/ChannelAboutFullMetadata.ts
  src/parser/classes/SectionList.ts
  src/parser/helpers.ts
  src/parser/youtube/Channel.ts
  src/parser/youtube/Search.ts
  src/parser/youtube/Settings.ts
  src/parser/youtube/TimeWatched.ts
  src/parser/ytmusic/Explore.ts
  src/parser/ytmusic/HomeFeed.ts
  src/parser/ytmusic/Library.ts
  src/parser/ytmusic/Playlist.ts
  src/parser/ytmusic/Recap.ts
  src/parser/ytmusic/Search.ts
  src/parser/ytmusic/TrackInfo.ts
Labels: parser, core, medium-diff

#260 feat(Session): allow overriding geolocation
  src/core/Session.ts
  src/parser/classes/CompactVideo.ts
  src/parser/classes/GridVideo.ts
  src/parser/classes/PlaylistPanelVideo.ts
  src/parser/classes/PlaylistVideo.ts
  src/utils/HTTPClient.ts
Labels: enhancement, parser, core, small-diff

#261 fix: add YouTube Studio to the list of clients
  src/proto/index.ts
  src/utils/Constants.ts
Labels: bug, protobuf, xsmall-diff

#262 feat: add support for searching within a channel
  README.md
  examples/channel/basic-info.ts
  src/parser/classes/ExpandableTab.ts
  src/parser/youtube/Channel.ts
  test/main.test.ts
Labels: enhancement, docs, parser, small-diff, tests

#263 feat: add support for chapters & video heatmap
  src/parser/classes/Chapter.ts
  src/parser/classes/DecoratedPlayerBar.ts
  src/parser/classes/HeatMarker.ts
  src/parser/classes/Heatmap.ts
  src/parser/classes/MultiMarkersPlayerBar.ts
  src/parser/classes/PlayerOverlay.ts
  src/parser/classes/TimedMarkerDecoration.ts
  src/parser/map.ts
  test/main.test.ts
Labels: enhancement, parser, medium-diff, tests

#265 chore: clean up & remove unneeded code
  src/Innertube.ts
  src/core/AccountManager.ts
  src/core/Actions.ts
  src/core/Feed.ts
  src/core/FilterableFeed.ts
  src/core/InteractionManager.ts
  src/core/Music.ts
  src/core/OAuth.ts
  src/core/Player.ts
  src/core/PlaylistManager.ts
  src/core/Session.ts
  src/core/Studio.ts
  src/core/TabbedFeed.ts
  src/parser/classes/PlaylistSidebarPrimaryInfo.ts
  src/parser/classes/SectionList.ts
  src/parser/classes/Shelf.ts
  src/parser/classes/comments/CommentsEntryPointHeader.ts
  src/parser/helpers.ts
  src/parser/index.ts
  src/parser/youtube/AccountInfo.ts
  src/parser/youtube/Analytics.ts
  src/parser/youtube/Channel.ts
  src/parser/youtube/Comments.ts
  src/parser/youtube/History.ts
  src/parser/youtube/HomeFeed.ts
  src/parser/youtube/ItemMenu.ts
  src/parser/youtube/Library.ts
  src/parser/youtube/LiveChat.ts
  src/parser/youtube/NotificationsMenu.ts
  src/parser/youtube/Playlist.ts
  src/parser/youtube/Search.ts
  src/parser/youtube/Settings.ts
  src/parser/youtube/TimeWatched.ts
  src/parser/youtube/VideoInfo.ts
  src/parser/ytmusic/Album.ts
  src/parser/ytmusic/Artist.ts
  src/parser/ytmusic/Explore.ts
  src/parser/ytmusic/HomeFeed.ts
  src/parser/ytmusic/Library.ts
  src/parser/ytmusic/Playlist.ts
  src/parser/ytmusic/Recap.ts
  src/parser/ytmusic/Search.ts
  src/parser/ytmusic/TrackInfo.ts
  src/proto/index.ts
  src/utils/Constants.ts
  src/utils/HTTPClient.ts
  src/utils/Utils.ts
Labels: xlarge-diff, parser, core, protobuf

#267 feat: add `LiveChatRestrictedParticipation` node
  src/parser/classes/livechat/items/LiveChatRestrictedParticipation.ts
  src/parser/map.ts
Labels: enhancement, parser, small-diff

#268 feat: implement `Innertube#resolveURL(url)`
  README.md
  src/Innertube.ts
  src/parser/index.ts
  test/constants.ts
  test/main.test.ts
Labels: enhancement, docs, parser, small-diff, tests
