Repository LuanRT/YouTube.js, pull requests merged in 2023-12, with the labels that each got.

#531 feat: add `VideoAttributeView`
  src/parser/classes/EngagementPanelSectionList.ts
  src/parser/classes/HorizontalCardList.ts
  src/parser/classes/VideoAttributeView.ts
  src/parser/nodes.ts
Labels: parser, small-diff

#540 chore: Clean up some unneeded private properties
  src/core/Player.ts
  src/parser/classes/misc/Author.ts
Labels: parser, core, small-diff

#512 feat: Add Shorts endpoint
  .eslintrc.yml
  src/Innertube.ts
  src/core/Actions.ts
  src/core/endpoints/index.ts
  src/core/endpoints/reel/WatchEndpoint.ts
  src/core/endpoints/reel/WatchSequenceEndpoint.ts
  src/core/endpoints/reel/index.ts
  src/parser/classes/Command.ts
  src/parser/classes/PivotButton.ts
  src/parser/classes/ReelPlayerHeader.ts
  src/parser/classes/ReelPlayerOverlay.ts
  src/parser/classes/misc/Author.ts
  src/parser/continuations.ts
  src/parser/index.ts
  src/parser/nodes.ts
  src/parser/parser.ts
  src/parser/types/ParsedResponse.ts
  src/parser/ytshorts/VideoInfo.ts
  src/parser/ytshorts/index.ts
  src/proto/generated/messages/youtube/ReelSequence.ts
  src/proto/generated/messages/youtube/index.ts
  src/proto/index.ts
  src/proto/youtube.proto
  src/types/Endpoints.ts
  test/main.test.ts
Labels: parser, core, protobuf, medium-diff, tests

#552 feat(Thumbnail): Support `sources` in `Thumbnail.fromResponse`
  src/parser/classes/ChannelExternalLinkView.ts
  src/parser/classes/ContentPreviewImageView.ts
  src/parser/classes/HighlightsCarousel.ts
  src/parser/classes/MusicLargeCardItemCarousel.ts
  src/parser/classes/VideoAttributeView.ts
  src/parser/classes/misc/Thumbnail.ts
Labels: parser, small-diff

#551 fix(generator): Output Parser.parseItem() calls with one valid type, without the array
  src/parser/generator.ts
Labels: parser, small-diff

#550 feat(generator): Add support for generating view models
  src/parser/generator.ts
Labels: parser, xsmall-diff

#553 fix(Format): Extract correct audio language from captions
  src/parser/youtube/VideoInfo.ts
Labels: parser, xsmall-diff

#560 feat(YouTube): Add FEchannels feed
  src/Innertube.ts
  src/core/Actions.ts
Labels: parser, core, small-diff

#557 feat(parser): Support new like and dislike nodes
  src/parser/classes/DislikeButtonView.ts
  src/parser/classes/LikeButtonView.ts
  src/parser/classes/SegmentedLikeDislikeButtonView.ts
  src/parser/classes/ToggleButtonView.ts
  src/parser/nodes.ts
  src/parser/youtube/VideoInfo.ts
Labels: parser, medium-diff

#556 feat(generator): add support for arrays
  src/parser/generator.ts
  src/parser/parser.ts
Labels: parser, medium-diff

#562 Update interaction-manager.md
  docs/API/interaction-manager.md
Labels: docs, xsmall-diff

#544 fear(parser): Add `DecoratedAvatarView`
  src/parser/classes/AvatarView.ts
  src/parser/classes/DecoratedAvatarView.ts
  src/parser/classes/PageHeaderView.ts
  src/parser/nodes.ts
Labels: parser, small-diff
