Repository LuanRT/YouTube.js, pull requests merged in 2023-03, with the labels that each got.

#329 fix getting community continuations
  src/parser/youtube/Channel.ts
Labels: parser, xsmall-diff

#332 feat(parser): SharedPost
  src/core/Feed.ts
  src/parser/classes/SharedPost.ts
  src/parser/map.ts
Labels: parser, core, small-diff

#333 Add `game_info` to `getInfo()` and `category` to `getBasicInfo()`
  src/parser/classes/RichMetadata.ts
  src/parser/classes/RichMetadataRow.ts
  src/parser/map.ts
  src/parser/youtube/VideoInfo.ts
Labels: parser, small-diff

#335 feat(yt): add `getGuide()`
  README.md
  src/Innertube.ts
  src/parser/classes/GuideCollapsibleEntry.ts
  src/parser/classes/GuideCollapsibleSectionEntry.ts
  src/parser/classes/GuideDownloadsEntry.ts
  src/parser/classes/GuideEntry.ts
  src/parser/classes/GuideSection.ts
  src/parser/classes/GuideSubscriptionsSection.ts
  src/parser/map.ts
  src/parser/parser.ts
  src/parser/types/ParsedResponse.ts
  src/parser/types/RawResponse.ts
  src/parser/youtube/Guide.ts
Labels: docs, parser, medium-diff

#337 feat(parser): add `banner` to `PlaylistHeader`
  src/parser/classes/HeroPlaylistThumbnail.ts
  src/parser/classes/PlaylistHeader.ts
  src/parser/map.ts
Labels: parser, small-diff

#340 feat(YouTube/Search): add `SearchSubMenu` node
  src/parser/classes/SearchFilter.ts
  src/parser/classes/SearchFilterGroup.ts
  src/parser/classes/SearchSubMenu.ts
  src/parser/map.ts
  src/parser/parser.ts
  src/parser/youtube/Search.ts
Labels: parser, small-diff

#341 fix(youtube): add `PlayerLegacyDesktopYpcOffer` node
  src/parser/classes/PlayerLegacyDesktopYpcOffer.ts
  src/parser/classes/VideoPrimaryInfo.ts
  src/parser/map.ts
Labels: parser, small-diff

#338 feat: Add support for descriptive audio tracks
  src/parser/classes/misc/Format.ts
  src/utils/FormatUtils.ts
Labels: parser, small-diff

#342 feat(VideoInfo): support get by endpoint + more info
  README.md
  src/Innertube.ts
  src/parser/classes/TwoColumnWatchNextResults.ts
  src/parser/youtube/VideoInfo.ts
Labels: docs, parser, medium-diff

#345 feat(parser): Add `play_all_button` to `Shelf`
  src/parser/classes/Shelf.ts
Labels: parser, xsmall-diff

#347 Add `status` to `SearchFilter` and fix `endpoint`
  src/parser/classes/SearchFilter.ts
Labels: parser, small-diff

#348 feat(parser): add `view_playlist` to `Playlist`
  src/parser/classes/Playlist.ts
Labels: parser, xsmall-diff

#349 feat(yt): add support for movie items and trailers
  README.md
  src/parser/classes/GridMovie.ts
  src/parser/classes/HorizontalMovieList.ts
  src/parser/classes/PlayerLegacyDesktopYpcTrailer.ts
  src/parser/classes/YpcTrailer.ts
  src/parser/map.ts
  src/parser/youtube/VideoInfo.ts
Labels: docs, parser, medium-diff

#351 feat!: Add support for OTF format streams
  README.md
  src/parser/classes/misc/Format.ts
  src/parser/youtube/VideoInfo.ts
  src/parser/ytkids/VideoInfo.ts
  src/parser/ytmusic/TrackInfo.ts
  src/utils/FormatUtils.ts
Labels: docs, parser, medium-diff

#356 feat(parser): add `GridMix`
  src/parser/classes/GridMix.ts
  src/parser/map.ts
Labels: parser, small-diff

#358 feat(parser): add `MusicCardShelf`
  src/parser/classes/MusicCardShelf.ts
  src/parser/classes/MusicCardShelfHeaderBasic.ts
  src/parser/map.ts
  src/parser/ytmusic/Search.ts
Labels: parser, small-diff

#357 refactor(shim): Move node CustomEvent polyfill to Platform.shim
  src/platform/deno.ts
  src/platform/node.ts
  src/platform/polyfills/node-custom-event.ts
  src/platform/web.ts
  src/types/PlatformShim.ts
  src/utils/EventEmitterLike.ts
Labels: small-diff

#310 feat(Parser): just-in-time YTNode generation
  docs/updating-the-parser.md
  scripts/build-parser-map.cjs
  src/parser/README.md
  src/parser/classes/GridPlaylist.ts
  src/parser/classes/Movie.ts
  src/parser/classes/MusicSortFilterButton.ts
  src/parser/classes/Playlist.ts
  src/parser/classes/PlaylistVideo.ts
  src/parser/classes/Video.ts
  src/parser/classes/menus/MusicMultiSelectMenu.ts
  src/parser/classes/menus/MusicMultiSelectMenuItem.ts
  src/parser/classes/misc/Author.ts
  src/parser/classes/misc/NavigatableText.ts
  src/parser/classes/misc/Text.ts
  src/parser/generator.ts
  src/parser/index.ts
  src/parser/map.ts
  src/parser/misc.ts
  src/parser/nodes.ts
  src/parser/parser.ts
Labels: enhancement, docs, xlarge-diff, parser

#363 fix(Utils): Properly parse timestamps with thousands separators
  src/utils/Utils.ts
Labels: xsmall-diff

#366 fix(toDash): Generate unique Representation ids
  src/utils/FormatUtils.ts
Labels: xsmall-diff

#368 fix(parser): Fix Video.is_live on channel pages
  src/parser/classes/Video.ts
Labels: parser, xsmall-diff

#370 fix(http): android tv http client missing `clientName`
  src/utils/HTTPClient.ts
Labels: xsmall-diff

#371 feat(Session): allow setting a custom visitor data token
  README.md
  src/core/Session.ts
  src/proto/index.ts
  src/utils/Utils.ts
  test/main.test.ts
Labels: docs, core, protobuf, small-diff, tests

#373 fix(Search): Return search results even if there are ads
  src/parser/youtube/Search.ts
Labels: parser, xsmall-diff
