Repository LuanRT/YouTube.js, pull requests merged in 2023-01, with the labels that each got.

#269 feat: allow enabling safety mode
  src/core/Session.ts
  test/main.test.ts
Labels: enhancement, core, small-diff, tests

#270 feat(Search): add support for `features` filter
  src/Innertube.ts
  src/proto/index.ts
  src/proto/youtube.proto
  src/proto/youtube.ts
Labels: parser, protobuf, medium-diff

#271 feat: Add is_live and is_upcoming to VideoDetails
  src/parser/classes/misc/VideoDetails.ts
  test/constants.ts
  test/main.test.ts
Labels: enhancement, parser, small-diff, tests

#275 feat: Add live stream start_timestamp
  src/parser/classes/PlayerMicroformat.ts
  src/parser/youtube/VideoInfo.ts
  test/main.test.ts
Labels: enhancement, parser, small-diff, tests

#276 fix(VideoInfo): watch next feed not being parsed when logged out
  src/parser/classes/TwoColumnWatchNextResults.ts
  src/parser/helpers.ts
  src/parser/youtube/VideoInfo.ts
  test/main.test.ts
Labels: bug, parser, small-diff, tests

#277 feat: add support for generating sessions locally
  src/core/Session.ts
  src/proto/index.ts
  src/proto/youtube.proto
  src/proto/youtube.ts
  src/utils/Constants.ts
  test/main.test.ts
Labels: enhancement, core, protobuf, medium-diff, tests

#280 feat: finalize comment section nodes
  examples/comments/Comment.md
  examples/comments/CommentThread.md
  examples/comments/README.md
  examples/comments/index.ts
  src/parser/classes/ContinuationItem.ts
  src/parser/classes/EmojiPickerCategory.ts
  src/parser/classes/EmojiPickerCategoryButton.ts
  src/parser/classes/EmojiPickerUpsellCategory.ts
  src/parser/classes/SortFilterSubMenu.ts
  src/parser/classes/comments/Comment.ts
  src/parser/classes/comments/CommentActionButtons.ts
  src/parser/classes/comments/CommentDialog.ts
  src/parser/classes/comments/CommentReplies.ts
  src/parser/classes/comments/CommentReplyDialog.ts
  src/parser/classes/comments/CommentSimplebox.ts
  src/parser/classes/comments/CommentThread.ts
  src/parser/classes/comments/CommentsHeader.ts
  src/parser/classes/comments/CreatorHeart.ts
  src/parser/classes/comments/EmojiPicker.ts
  src/parser/classes/comments/PdgCommentChip.ts
  src/parser/classes/comments/SponsorCommentBadge.ts
  src/parser/classes/misc/EmojiRun.ts
  src/parser/index.ts
  src/parser/map.ts
  src/parser/youtube/Comments.ts
  src/parser/youtube/ItemMenu.ts
  src/proto/index.ts
  test/main.test.ts
Labels: enhancement, docs, parser, protobuf, large-diff, tests

#281 refactor(LiveChat): Only store required video info values
  src/parser/youtube/LiveChat.ts
Labels: parser, small-diff

#283 feat(EmojiRun): Add is_custom to identify custom emojis
  src/parser/classes/misc/EmojiRun.ts
Labels: parser, xsmall-diff

#285 refactor: improve livechat parser & add remaining action nodes
  examples/livechat/README.md
  examples/livechat/index.ts
  src/parser/classes/LiveChatHeader.ts
  src/parser/classes/LiveChatItemList.ts
  src/parser/classes/LiveChatMessageInput.ts
  src/parser/classes/LiveChatParticipantsList.ts
  src/parser/classes/SortFilterSubMenu.ts
  src/parser/classes/UpsellDialog.ts
  src/parser/classes/livechat/AddBannerToLiveChatCommand.ts
  src/parser/classes/livechat/AddLiveChatTickerItemAction.ts
  src/parser/classes/livechat/DimChatItemAction.ts
  src/parser/classes/livechat/ReplaceChatItemAction.ts
  src/parser/classes/livechat/ReplayChatItemAction.ts
  src/parser/classes/livechat/ShowLiveChatActionPanelAction.ts
  src/parser/classes/livechat/ShowLiveChatDialogAction.ts
  src/parser/classes/livechat/ShowLiveChatTooltipCommand.ts
  src/parser/classes/livechat/UpdateLiveChatPollAction.ts
  src/parser/classes/livechat/items/LiveChatAutoModMessage.ts
  src/parser/classes/livechat/items/LiveChatBanner.ts
  src/parser/classes/livechat/items/LiveChatBannerHeader.ts
  src/parser/classes/livechat/items/LiveChatBannerPoll.ts
  src/parser/classes/livechat/items/LiveChatMembershipItem.ts
  src/parser/classes/livechat/items/LiveChatPaidMessage.ts
  src/parser/classes/livechat/items/LiveChatPaidSticker.ts
  src/parser/classes/livechat/items/LiveChatProductItem.ts
  src/parser/classes/livechat/items/LiveChatTextMessage.ts
  src/parser/classes/livechat/items/LiveChatTickerPaidMessageItem.ts
  src/parser/classes/livechat/items/LiveChatTickerPaidStickerItem.ts
  src/parser/classes/livechat/items/LiveChatTickerSponsorItem.ts
  src/parser/classes/livechat/items/LiveChatViewerEngagementMessage.ts
  src/parser/classes/livechat/items/PollHeader.ts
  src/parser/index.ts
  src/parser/map.ts
  src/parser/youtube/LiveChat.ts
  test/main.test.ts
Labels: docs, parser, large-diff, tests

#286 fix(Playlist): trying to parse an already parsed response
  src/parser/youtube/Playlist.ts
Labels: parser, small-diff

#287 refactor: improve live chat polling and error handling
  src/parser/index.ts
  src/parser/youtube/LiveChat.ts
  src/parser/youtube/SmoothedQueue.ts
Labels: parser, medium-diff

#288 fix(VideoInfo): Gracefully handle missing watch next continuation
  src/parser/youtube/VideoInfo.ts
Labels: parser, xsmall-diff

#291 feat: add support for YouTube Kids
  README.md
  docs/API/account.md
  docs/API/kids.md
  docs/API/music.md
  src/Innertube.ts
  src/core/Kids.ts
  src/core/Session.ts
  src/parser/classes/CompactChannel.ts
  src/parser/classes/SlimOwner.ts
  src/parser/classes/SlimVideoMetadata.ts
  src/parser/classes/ytkids/AnchoredSection.ts
  src/parser/classes/ytkids/KidsCategoriesHeader.ts
  src/parser/classes/ytkids/KidsCategoryTab.ts
  src/parser/classes/ytkids/KidsHomeScreen.ts
  src/parser/map.ts
  src/parser/youtube/VideoInfo.ts
  src/parser/ytkids/HomeFeed.ts
  src/parser/ytkids/Search.ts
  src/parser/ytkids/VideoInfo.ts
  src/parser/ytmusic/TrackInfo.ts
  src/utils/Constants.ts
  src/utils/FormatUtils.ts
  src/utils/HTTPClient.ts
  test/constants.ts
  test/main.test.ts
Labels: enhancement, docs, xlarge-diff, parser, core, tests

#292 feat(ytkids): add `kids#getChannel()`
  docs/API/kids.md
  src/core/Feed.ts
  src/core/Kids.ts
  src/parser/classes/ItemSection.ts
  src/parser/index.ts
  src/parser/ytkids/Channel.ts
  test/constants.ts
  test/main.test.ts
Labels: enhancement, docs, parser, core, medium-diff, tests

#293 feat: improve support for dubbed content
  README.md
  docs/API/kids.md
  docs/API/music.md
  src/parser/classes/PlayerCaptionsTracklist.ts
  src/parser/classes/misc/Format.ts
  src/parser/youtube/VideoInfo.ts
  src/parser/ytkids/VideoInfo.ts
  src/parser/ytmusic/TrackInfo.ts
  src/utils/FormatUtils.ts
Labels: enhancement, docs, parser, medium-diff

#295 feat(Channel): add support for sorting the playlist tab
  README.md
  src/parser/classes/ChannelSubMenu.ts
  src/parser/classes/SectionList.ts
  src/parser/classes/SortFilterSubMenu.ts
  src/parser/map.ts
  src/parser/youtube/Channel.ts
Labels: enhancement, docs, parser, medium-diff

#294 Feat: parse isLive in CompactVideo
  src/parser/classes/CompactVideo.ts
Labels: parser, small-diff

#296 Allow checking whether a channel has optional tabs
  src/core/TabbedFeed.ts
  src/parser/youtube/Channel.ts
  test/constants.ts
  test/main.test.ts
Labels: parser, core, small-diff, tests

#298 Add parser support for MultiImage community posts
  src/parser/classes/PostMultiImage.ts
  src/parser/map.ts
Labels: parser, small-diff

#299 fix(ChannelAboutFullMetadata) Fix error when there are no primary links
  src/parser/classes/ChannelAboutFullMetadata.ts
Labels: parser, xsmall-diff
