Repository LuanRT/YouTube.js, pull requests merged in 2023-10, with the labels that each got.

#527 feat(UpdateViewerShipAction): Add `original_view_count` and `unlabeled_view_count_value`
  src/parser/classes/livechat/UpdateViewershipAction.ts
Labels: parser, xsmall-diff

#526 chore(MediaInfo): Throw helpful errors when calling toDash or download for live and Post-Live DVR videos
  src/core/mixins/MediaInfo.ts
Labels: core, small-diff

#503 feat(Kids): Add `blockChannel` command to easily block channels
  docs/API/interaction-manager.md
  docs/API/kids.md
  examples/blockchannel/index.js
  src/core/clients/Kids.ts
  src/core/endpoints/index.ts
  src/core/endpoints/kids/BlocklistPickerEndpoint.ts
  src/core/endpoints/kids/index.ts
  src/parser/classes/ToggleButton.ts
  src/parser/classes/ytkids/KidsBlocklistPicker.ts
  src/parser/classes/ytkids/KidsBlocklistPickerItem.ts
  src/parser/nodes.ts
  src/types/Endpoints.ts
Labels: docs, parser, core, medium-diff

#509 fix(build): Inline package.json import to avoid runtime erros
  .github/workflows/lint.yml
  .github/workflows/release-please.yml
  .github/workflows/test.yml
  package-lock.json
  package.json
  src/platform/node.ts
  tsconfig.json
Labels: xlarge-diff, github

#529 feat: use `overrides` instead of `--legacy-peer-deps`
  .github/workflows/lint.yml
  .github/workflows/release-please.yml
  .github/workflows/test.yml
  package-lock.json
  package.json
Labels: small-diff, github

#533 feat: add `FeedNudge`
  src/parser/classes/FeedNudge.ts
  src/parser/nodes.ts
Labels: parser, small-diff
