Repository LuanRT/YouTube.js, pull requests merged in 2023-04, with the labels that each got.

#376 feat(PlaylistVideo): Extract video_info and accessibility_label texts
  src/parser/classes/PlaylistVideo.ts
Labels: parser, xsmall-diff

#378 feat: Enable importHelpers in tsconfig to reduce output size
  package-lock.json
  package.json
  tsconfig.json
Labels: small-diff

#379 refactor: fix inconsistencies in the guide endpoint nodes
  src/parser/classes/GuideCollapsibleEntry.ts
  src/parser/classes/GuideCollapsibleSectionEntry.ts
  src/parser/classes/GuideDownloadsEntry.ts
  src/parser/classes/GuideEntry.ts
  src/parser/classes/GuideSection.ts
  src/parser/classes/GuideSubscriptionsSection.ts
Labels: parser, medium-diff

#382 feat(MusicResponsiveListItem): make flex/fixed cols public
  src/parser/classes/MusicResponsiveListItem.ts
  src/utils/Utils.ts
Labels: parser, medium-diff

#390 fix(android): workaround streaming URLs returning 403
  src/core/endpoints/PlayerEndpoint.ts
  src/types/Endpoints.ts
Labels: core, small-diff

#391 fix(web): slow downloads due to visitor data
  src/core/Session.ts
  src/core/endpoints/PlayerEndpoint.ts
Labels: core, small-diff

#393 fix(VideoInfo): Use microformat view_count when videoDetails view_count is NaN
  src/parser/youtube/VideoInfo.ts
Labels: parser, xsmall-diff
