Repository LuanRT/YouTube.js, pull requests merged in 2023-06, with the labels that each got.

#409 fix(VideoInfo.ts): reimplement `get music_tracks`
  src/parser/classes/CarouselLockup.ts
  src/parser/classes/EngagementPanelSectionList.ts
  src/parser/classes/ExpandableVideoDescriptionBody.ts
  src/parser/classes/Factoid.ts
  src/parser/classes/InfoRow.ts
  src/parser/classes/StructuredDescriptionContent.ts
  src/parser/classes/VideoDescriptionHeader.ts
  src/parser/classes/VideoDescriptionMusicSection.ts
  src/parser/nodes.ts
  src/parser/parser.ts
  src/parser/types/ParsedResponse.ts
  src/parser/types/RawResponse.ts
  src/parser/youtube/VideoInfo.ts
Labels: parser, medium-diff

#419 fix(PlayerEndpoint): Use different player params
  src/core/endpoints/PlayerEndpoint.ts
Labels: core, xsmall-diff

#420 chore(constants): Update web client version
  src/utils/Constants.ts
Labels: xsmall-diff

#421 fix(OAuth): client identity matching
  src/core/OAuth.ts
  src/utils/Constants.ts
Labels: core, xsmall-diff

#424 fix(Playlist): Add thumbnail_renderer on Playlist when response includes it
  src/parser/classes/Playlist.ts
Labels: parser, xsmall-diff
