Repository LuanRT/YouTube.js, pull requests merged in 2023-09, with the labels that each got.

#498 feat(PlaylistManager): add .setName() and .setDescription() functions for editing playlists
  docs/API/playlist.md
  src/core/endpoints/browse/EditPlaylistEndpoint.ts
  src/core/managers/PlaylistManager.ts
  src/types/Endpoints.ts
Labels: docs, core, small-diff

#500 feat: Add support for retrieving transcripts
  README.md
  src/Innertube.ts
  src/parser/classes/EngagementPanelSectionList.ts
  src/parser/classes/ExpandableMetadata.ts
  src/parser/classes/FancyDismissibleDialog.ts
  src/parser/classes/ProductList.ts
  src/parser/classes/ProductListHeader.ts
  src/parser/classes/ProductListItem.ts
  src/parser/classes/StructuredDescriptionContent.ts
  src/parser/classes/Transcript.ts
  src/parser/classes/TranscriptFooter.ts
  src/parser/classes/TranscriptSearchBox.ts
  src/parser/classes/TranscriptSearchPanel.ts
  src/parser/classes/TranscriptSegment.ts
  src/parser/classes/TranscriptSegmentList.ts
  src/parser/classes/UploadTimeFactoid.ts
  src/parser/classes/VideoDescriptionHeader.ts
  src/parser/classes/VideoDescriptionTranscriptSection.ts
  src/parser/classes/ViewCountFactoid.ts
  src/parser/classes/actions/UpdateEngagementPanelAction.ts
  src/parser/classes/menus/MenuPopup.ts
  src/parser/nodes.ts
  src/parser/parser.ts
  src/parser/types/ParsedResponse.ts
Labels: docs, parser, medium-diff

#502 chore(docs): Minor update
  docs/updating-the-parser.md
  examples/auth/index.js
Labels: docs, small-diff

#506 perf(generator): Remove duplicate checks in `isMiscType`
  src/parser/generator.ts
Labels: parser, small-diff

#505 perf: Cache deciphered n-params by info response
  src/core/Player.ts
  src/parser/classes/misc/Format.ts
  src/parser/parser.ts
Labels: parser, core, small-diff

#511 refactor: Move transcript logic to `MediaInfo`
  README.md
  examples/transcript/index.ts
  src/Innertube.ts
  src/core/mixins/MediaInfo.ts
  src/parser/classes/StructuredDescriptionContent.ts
  src/parser/classes/StructuredDescriptionPlaylistLockup.ts
  src/parser/classes/TranscriptSectionHeader.ts
  src/parser/classes/TranscriptSegmentList.ts
  src/parser/classes/VideoDescriptionCourseSection.ts
  src/parser/nodes.ts
  src/parser/youtube/TranscriptInfo.ts
Labels: docs, parser, core, medium-diff
