Repository LuanRT/YouTube.js, pull requests merged in 2023-08, with the labels that each got.

#465 fix(Playlist): Only try extracting the subtitle for the first page
  src/parser/youtube/Playlist.ts
Labels: parser, xsmall-diff

#463 perf: Cleanup some unnecessary uses of `YTNode#key` and `Maybe`
  src/core/clients/Music.ts
  src/parser/classes/MusicResponsiveListItem.ts
  src/parser/youtube/Channel.ts
  src/parser/ytmusic/HomeFeed.ts
  src/parser/ytmusic/Library.ts
  src/parser/ytmusic/TrackInfo.ts
Labels: parser, core, small-diff

#467 feat(VideoInfo): support iOS client
  src/Innertube.ts
  src/utils/Constants.ts
  src/utils/HTTPClient.ts
Labels: parser, small-diff

#462 fix(toDash): Format grouping into AdaptationSets
  src/utils/FormatUtils.ts
Labels: medium-diff

#470 fix(Format): Extracting audio language from captions
  src/parser/youtube/VideoInfo.ts
Labels: parser, xsmall-diff

#471 chore: migrate browser example to Shaka player [skip ci]
  examples/browser/web/index.html
  examples/browser/web/package.json
  examples/browser/web/src/assets/player.css
  examples/browser/web/src/assets/style.css
  examples/browser/web/src/main.ts
  examples/browser/web/src/style.css
  src/parser/youtube/HashtagFeed.ts
Labels: parser, large-diff

#468 refactor!: replace unnecessary classes with pure functions
  deno.ts
  package-lock.json
  package.json
  src/Innertube.ts
  src/core/Session.ts
  src/core/clients/Music.ts
  src/core/clients/Studio.ts
  src/core/managers/AccountManager.ts
  src/core/managers/InteractionManager.ts
  src/core/mixins/MediaInfo.ts
  src/parser/README.md
  src/parser/classes/GridShow.ts
  src/parser/classes/GuideCollapsibleEntry.ts
  src/parser/classes/GuideCollapsibleSectionEntry.ts
  src/parser/classes/GuideSection.ts
  src/parser/classes/PlayerStoryboardSpec.ts
  src/parser/classes/SharedPost.ts
  src/parser/classes/actions/AppendContinuationItemsAction.ts
  src/parser/classes/comments/Comment.ts
  src/parser/continuations.ts
  src/parser/generator.ts
  src/parser/index.ts
  src/parser/parser.ts
  src/parser/types/ParsedResponse.ts
  src/parser/youtube/LiveChat.ts
  src/platform/README.md
  src/platform/deno.ts
  src/platform/lib.ts
  src/platform/node.ts
  src/platform/polyfills/server-dom.ts
  src/platform/web.ts
  src/proto/index.ts
  src/types/FormatUtils.ts
  src/types/PlatformShim.ts
  src/types/index.ts
  src/utils/DashManifest.tsx
  src/utils/DashUtils.ts
  src/utils/FormatUtils.ts
  src/utils/StreamingInfo.ts
  src/utils/index.ts
  tsconfig.json
Labels: docs, breaking-change, xlarge-diff, parser, core, protobuf

#480 fix: invalid set ids in dash manifest
  src/utils/DashManifest.tsx
Labels: xsmall-diff

#484 feat(parser): Add `ChannelHeaderLinksView`
  src/parser/classes/C4TabbedHeader.ts
  src/parser/classes/ChannelHeaderLinksView.ts
  src/parser/classes/VideoSecondaryInfo.ts
  src/parser/classes/misc/Text.ts
  src/parser/nodes.ts
Labels: parser, medium-diff

#486 feat(parser): Add `AlertWithButton`
  src/parser/classes/AlertWithButton.ts
  src/parser/nodes.ts
  src/parser/parser.ts
  src/parser/types/ParsedResponse.ts
Labels: parser, small-diff

#487 feat(parser): Add `CompactMovie`
  src/parser/classes/CompactMovie.ts
  src/parser/nodes.ts
Labels: parser, small-diff

#490 feat(Session): Add fallback for session data retrieval
  src/core/Session.ts
Labels: core, small-diff

#492 fix(Format): Fix `is_original` always being `true`
  src/parser/classes/misc/Format.ts
Labels: parser, xsmall-diff

#494 feat(Session): Add on_behalf_of_user session option
  src/core/Session.ts
Labels: core, small-diff

#496 fix(CompactMovie): Add missing import and remove unnecessary console.log
  src/parser/classes/CompactMovie.ts
Labels: parser, xsmall-diff

#497 feat(ChannelMetadata): Add `music_artist_name`
  src/parser/classes/ChannelMetadata.ts
Labels: parser, xsmall-diff
