Repository LuanRT/YouTube.js, pull requests merged in 2023-02, with the labels that each got.

#302 fix(TopicChannelDetails): avatar and subtitle parsing
  src/parser/classes/TopicChannelDetails.ts
Labels: parser, xsmall-diff

#303 feat(Channel): Add getters for all optional tabs
  src/parser/youtube/Channel.ts
  test/constants.ts
  test/main.test.ts
Labels: parser, small-diff, tests

#311 Fix: Assign MetaDataBadge's label
  src/parser/classes/CompactVideo.ts
  src/parser/classes/MetadataBadge.ts
  src/parser/classes/Video.ts
Labels: parser, small-diff

#312 feat: add support for hashtag feeds
  README.md
  src/Innertube.ts
  src/parser/classes/HashtagHeader.ts
  src/parser/map.ts
  src/parser/youtube/HashtagFeed.ts
  src/proto/generated/messages/youtube/(Hashtag)/Params.ts
  src/proto/generated/messages/youtube/(Hashtag)/index.ts
  src/proto/generated/messages/youtube/Hashtag.ts
  src/proto/generated/messages/youtube/index.ts
  src/proto/index.ts
  src/proto/youtube.proto
  test/main.test.ts
Labels: docs, parser, protobuf, medium-diff, tests

#315 docs: update imports for platforms
  README.md
Labels: docs, small-diff

#317 feat: Add upcoming and live info to playlist videos
  src/parser/classes/PlaylistVideo.ts
  src/parser/classes/ThumbnailOverlayTimeStatus.ts
Labels: parser, small-diff

#320 fix(PlayerMicroformat): Make the embed field optional
  src/parser/classes/PlayerMicroformat.ts
Labels: parser, small-diff

#325 feat(VideoSecondaryInfo): add support for attributed descriptions
  src/parser/classes/NavigationEndpoint.ts
  src/parser/classes/VideoSecondaryInfo.ts
  src/parser/classes/misc/TextRun.ts
Labels: parser, medium-diff
