Repository LuanRT/YouTube.js, pull requests merged in 2023-07, with the labels that each got.

#428 fix: incorrect node parser implementations
  src/parser/classes/CarouselLockup.ts
  src/parser/classes/EngagementPanelSectionList.ts
  src/parser/classes/EngagementPanelTitleHeader.ts
  src/parser/classes/ExpandableVideoDescriptionBody.ts
  src/parser/classes/Factoid.ts
  src/parser/classes/InfoRow.ts
  src/parser/classes/StructuredDescriptionContent.ts
  src/parser/classes/VideoDescriptionHeader.ts
  src/parser/classes/VideoDescriptionInfocardsSection.ts
  src/parser/classes/VideoDescriptionMusicSection.ts
  src/parser/generator.ts
  src/parser/nodes.ts
  src/parser/youtube/VideoInfo.ts
Labels: parser, medium-diff

#430 feat(toDash): Add color information
  src/parser/classes/misc/Format.ts
  src/utils/FormatUtils.ts
Labels: parser, medium-diff

#434 perf(Format): Cleanup the xtags parsing
  src/parser/classes/misc/Format.ts
Labels: parser, small-diff

#436 Add `getReleases` and `getPodcasts` to `Channel`
  README.md
  src/parser/classes/Playlist.ts
  src/parser/youtube/Channel.ts
Labels: docs, parser, small-diff

#437 feat(parser): Add `Quiz`
  src/parser/classes/Quiz.ts
  src/parser/nodes.ts
Labels: parser, small-diff

#440 feat(parser): Add `HashtagTile`
  src/parser/classes/HashtagTile.ts
  src/parser/nodes.ts
Labels: parser, small-diff

#439 fix(package): Bump Jinter to fix bad export order
  package-lock.json
  package.json
  src/utils/FormatUtils.ts
Labels: xlarge-diff

#442 feat(parser): Add `CommentsSimplebox` parser
  src/parser/classes/comments/CommentsEntryPointHeader.ts
  src/parser/classes/comments/CommentsSimplebox.ts
  src/parser/nodes.ts
Labels: parser, small-diff

#443 feat(parser): Add `ShowMiniplayerCommand`
  src/parser/parser.ts
Labels: parser, small-diff

#444 feat(parser): add `MacroMarkersList`
  src/parser/classes/EngagementPanelSectionList.ts
  src/parser/classes/MacroMarkersInfoItem.ts
  src/parser/classes/MacroMarkersList.ts
  src/parser/nodes.ts
Labels: parser, small-diff

#445 feat(Format): Populate audio language from captions when available
  src/parser/classes/PlayerCaptionsTracklist.ts
  src/parser/youtube/VideoInfo.ts
  src/utils/FormatUtils.ts
  test/main.test.ts
Labels: parser, small-diff, tests

#447 feat(parser): Add `IncludingResultsFor`
  src/parser/classes/IncludingResultsFor.ts
  src/parser/nodes.ts
Labels: parser, small-diff

#446 feat(toDash): Add option to include thumbnails in the manifest
  src/core/mixins/MediaInfo.ts
  src/parser/classes/PlayerStoryboardSpec.ts
  src/types/DashOptions.ts
  src/utils/FormatUtils.ts
Labels: parser, core, medium-diff

#450 feat(parser): Add `PageHeader`
  src/parser/classes/ContentPreviewImageView.ts
  src/parser/classes/DynamicTextView.ts
  src/parser/classes/PageHeader.ts
  src/parser/classes/PageHeaderView.ts
  src/parser/nodes.ts
  src/parser/youtube/Channel.ts
Labels: parser, small-diff

#458 feat(YouTube Playlist): Add subtitle and fix author optionality
  src/parser/classes/PlaylistHeader.ts
  src/parser/youtube/Playlist.ts
Labels: parser, xsmall-diff
