Repository LuanRT/YouTube.js, pull requests merged in 2024-04, with the labels that each got.

#631 fix(toDash): Add missing transfer characteristics for h264 streams
  src/utils/StreamingInfo.ts
Labels: xsmall-diff

#636 Remove test code
  src/parser/classes/comments/CommentView.ts
Labels: parser, xsmall-diff

#643 feat(Format): Add `projection_type` and `stereo_layout`
  src/parser/classes/misc/Format.ts
Labels: parser, xsmall-diff

#645 chore(HTTPClient): Add X-Youtube-Client-Name and remove X-Origin headers
  src/utils/Constants.ts
  src/utils/HTTPClient.ts
Labels: small-diff

#651 Lint fix
  src/core/clients/Music.ts
Labels: core, xsmall-diff

#647 feat(Format): Add `spatial_audio_type`
  src/parser/classes/misc/Format.ts
Labels: parser, xsmall-diff

#655 Item section target_id fix
  src/parser/classes/ItemSection.ts
Labels: parser, xsmall-diff
