Repository LuanRT/YouTube.js, pull requests merged in 2024-01, with the labels that each got.

#566 feat(OAuth): Allow passing custom OAuth2 client creds
  src/core/OAuth.ts
Labels: core, small-diff

#563 fix(Parser): add SortFilterHeader
  src/parser/classes/ItemSection.ts
  src/parser/classes/SortFilterHeader.ts
  src/parser/nodes.ts
  src/parser/youtube/Settings.ts
Labels: parser, small-diff

#571 feat(VideoInfo): Add live stream `end_timestamp`
  src/parser/classes/PlayerMicroformat.ts
  src/parser/youtube/VideoInfo.ts
Labels: parser, xsmall-diff

#570 feat(Format): Add `max_dvr_duration_sec` and `target_duration_dec`
  src/parser/classes/misc/Format.ts
Labels: parser, xsmall-diff

#569 feat(VideoDetails): Add `is_live_dvr_enabled`, `is_low_latency_live_stream` and `live_chunk_readahead`
  src/parser/classes/misc/VideoDetails.ts
Labels: parser, xsmall-diff

#573 fix(toDash): Add missing transfer characteristics for h264 streams
  src/utils/StreamingInfo.ts
Labels: small-diff

#579 refactor(Playlist): Ignore `ContinuationItem` nodes from `SectionList#contents`
  src/parser/classes/PlaylistVideo.ts
  src/parser/youtube/Playlist.ts
Labels: parser, small-diff

#582 chore(Constants): Update web client version
  src/utils/Constants.ts
Labels: xsmall-diff

#583 feat(parser): Add `ImageBannerView`
  src/parser/classes/ImageBannerView.ts
  src/parser/classes/PageHeaderView.ts
  src/parser/nodes.ts
Labels: parser, small-diff

#580 feat(toDash)!: Add support for generating manifests for Post Live DVR videos
  src/core/mixins/MediaInfo.ts
  src/parser/classes/PlayerLiveStoryboardSpec.ts
  src/parser/classes/PlayerStoryboardSpec.ts
  src/utils/DashManifest.tsx
  src/utils/StreamingInfo.ts
Labels: parser, core, medium-diff

#584 fix(DecoratedAvatarView): Fix parsing and optional properties
  src/parser/classes/AvatarView.ts
  src/parser/classes/DecoratedAvatarView.ts
Labels: parser, small-diff

#581 feat(Channel): Support getting about with PageHeader
  src/parser/classes/DescriptionPreviewView.ts
  src/parser/youtube/Channel.ts
Labels: parser, small-diff

#586 fix(PlayerCaptionTracklist): Fix `captions_tracks[].kind` type
  src/parser/classes/PlayerCaptionsTracklist.ts
Labels: parser, xsmall-diff

#590 fix(VideoInfo): Fix error because of typo in getWatchNextContinuation
  src/parser/youtube/VideoInfo.ts
Labels: parser, xsmall-diff
