Repository LuanRT/YouTube.js, pull requests merged in 2024-12, with the labels that each got.

#837 fix(Player): Fix signature algorithm extraction again
  src/core/Player.ts
Labels: core, small-diff

#835 feat(parser): Add `ClientSideToggleMenuItem`
  src/parser/classes/ClientSideToggleMenuItem.ts
  src/parser/nodes.ts
Labels: parser, small-diff

#836 feat(parser): Update `LiveChatMembershipItem`
  src/parser/classes/livechat/items/LiveChatMembershipItem.ts
Labels: parser, small-diff

#842 feat(Parser): Parse YpcTrailer in VideoInfo
  src/parser/youtube/VideoInfo.ts
Labels: parser, small-diff

#845 feat(parser): Update `LiveChatTickerPaidMessageItem`
  src/parser/classes/livechat/items/LiveChatTickerPaidMessageItem.ts
Labels: parser, small-diff

#846 feat(parser): Update `LiveChatPaidMessage`
  src/parser/classes/livechat/items/CreatorHeartView.ts
  src/parser/classes/livechat/items/LiveChatPaidMessage.ts
  src/parser/classes/livechat/items/PdgReplyButtonView.ts
  src/parser/nodes.ts
Labels: parser, small-diff

#847 feat(parser): Add `ReplaceLiveChatAction`
  src/parser/classes/livechat/ReplaceLiveChatAction.ts
  src/parser/nodes.ts
Labels: parser, small-diff

#852 chore(parser): Hoist API_PATH constants in endpoint nodes
  src/parser/classes/commands/GetKidsBlocklistPickerCommand.ts
  src/parser/classes/endpoints/AddToPlaylistServiceEndpoint.ts
  src/parser/classes/endpoints/BrowseEndpoint.ts
  src/parser/classes/endpoints/CreateCommentEndpoint.ts
  src/parser/classes/endpoints/CreatePlaylistServiceEndpoint.ts
  src/parser/classes/endpoints/DeletePlaylistEndpoint.ts
  src/parser/classes/endpoints/FeedbackEndpoint.ts
  src/parser/classes/endpoints/GetAccountsListInnertubeEndpoint.ts
  src/parser/classes/endpoints/LikeEndpoint.ts
  src/parser/classes/endpoints/LiveChatItemContextMenuEndpoint.ts
  src/parser/classes/endpoints/ModifyChannelNotificationPreferenceEndpoint.ts
  src/parser/classes/endpoints/PerformCommentActionEndpoint.ts
  src/parser/classes/endpoints/PlaylistEditEndpoint.ts
  src/parser/classes/endpoints/ReelWatchEndpoint.ts
  src/parser/classes/endpoints/SearchEndpoint.ts
  src/parser/classes/endpoints/ShareEntityServiceEndpoint.ts
  src/parser/classes/endpoints/SubscribeEndpoint.ts
  src/parser/classes/endpoints/UnsubscribeEndpoint.ts
  src/parser/classes/endpoints/WatchEndpoint.ts
  src/parser/classes/endpoints/WatchNextEndpoint.ts
Labels: parser, medium-diff

#851 feat(LiveChatPaidMessage): Parse `headerOverlayImage` and `lowerBumper`
  src/parser/classes/livechat/items/BumperUserEduContentView.ts
  src/parser/classes/livechat/items/LiveChatItemBumperView.ts
  src/parser/classes/livechat/items/LiveChatPaidMessage.ts
  src/parser/nodes.ts
Labels: parser, small-diff

#848 feat(parser): Update `LiveChatTickerPaidStickerItem`
  src/parser/classes/livechat/items/LiveChatTickerPaidStickerItem.ts
Labels: parser, small-diff

#859 fix(sendMessage): Handle `RunAttestationCommand` in response actions
  src/parser/youtube/LiveChat.ts
Labels: parser, xsmall-diff

#857 feat(parser): Update `Button`
  src/parser/classes/Button.ts
Labels: parser, small-diff

#856 feat(parser): Update `LiveChatViewerEngagementMessage`
  src/parser/classes/livechat/items/LiveChatViewerEngagementMessage.ts
Labels: parser, small-diff

#855 fix(ButtonCardView): correct typo
  src/parser/classes/ButtonCardView.ts
Labels: parser, xsmall-diff

#844 feat(Playlists): Implement `addToLibrary` and `removeFromLibrary`
  src/core/managers/PlaylistManager.ts
Labels: core, small-diff

#849 feat(parser): Update `LiveChatPaidSticker`
  src/parser/classes/livechat/items/LiveChatPaidSticker.ts
Labels: parser, small-diff
