Repository LuanRT/YouTube.js, pull requests merged in 2024-07, with the labels that each got.

#677 feat(toDash): Add the "dub" role to translated captions
  src/utils/DashManifest.tsx
  src/utils/StreamingInfo.ts
Labels: small-diff

#682 fix(Player): Fix extracting the n-token decipher algorithm
  package-lock.json
  package.json
  src/core/Player.ts
  src/platform/jsruntime/jinter.ts
Labels: core, small-diff

#697 feat(Format): Add `is_secondary` for detecting secondary audio tracks
  src/parser/classes/misc/Format.ts
Labels: parser, xsmall-diff

#693 feat(proto): Add `comment_id` to commentSectionParams
  src/proto/generated/messages/youtube/(GetCommentsSectionParams)/(Params)/Options.ts
  src/proto/index.ts
  src/proto/youtube.proto
Labels: protobuf, small-diff

#692 fix(parser): ignore MiniGameCardView node
  src/parser/parser.ts
Labels: parser, xsmall-diff

#691 feat(parser): add classdata to unhandled parse errors
  src/parser/parser.ts
Labels: parser, xsmall-diff

#701 fix(Player): Fix extracting the n-token decipher algorithm again
  src/core/Player.ts
Labels: core, small-diff

#703 feat(parser): Add `EomSettingsDisclaimer` node
  src/parser/classes/EomSettingsDisclaimer.ts
  src/parser/nodes.ts
Labels: parser, small-diff

#705 fix(HTTPClient): Adjust more context fields for the iOS client
  src/utils/HTTPClient.ts
Labels: xsmall-diff

#712 fix(Player): Address changes introduced by player id `20dfca59`
  src/core/Player.ts
Labels: core, xsmall-diff
