Repository LuanRT/YouTube.js, pull requests merged in 2024-11, with the labels that each got.

#793 feat(parser): Add `LiveChatSponsorshipsGiftPurchaseAnnouncement` and `LiveChatSponsorshipsHeader` nodes
  src/parser/classes/livechat/items/LiveChatSponsorshipsGiftPurchaseAnnouncement.ts
  src/parser/classes/livechat/items/LiveChatSponsorshipsHeader.ts
  src/parser/nodes.ts
Labels: parser, small-diff

#795 feat(parser): Add `LiveChatSponsorshipsGiftRedemptionAnnouncement` node
  src/parser/classes/livechat/items/LiveChatSponsorshipsGiftRedemptionAnnouncement.ts
  src/parser/nodes.ts
Labels: parser, small-diff

#799 feat(parser): Add `LiveChatBannerRedirect` node
  src/parser/classes/livechat/items/LiveChatBannerRedirect.ts
  src/parser/nodes.ts
Labels: parser, small-diff

#809 feat(parser): Add `LiveChatBannerChatSummary` node, update `TextRun` node
  src/parser/classes/livechat/items/LiveChatBannerChatSummary.ts
  src/parser/classes/misc/TextRun.ts
  src/parser/nodes.ts
Labels: parser, small-diff

#808 fix(parser): Update list of possible content_type in LockupView
  src/parser/classes/LockupView.ts
Labels: parser, xsmall-diff

#807 fix(parser): The AvatarView.image_processor property is optional
  src/parser/classes/AvatarView.ts
Labels: parser, small-diff

#805 feat(Parser): Add support for parsing subtitle for `RichShelf`
  src/parser/classes/RichShelf.ts
Labels: parser, xsmall-diff

#806 feat(parser): Add optional image property to LockupMetadataView
  src/parser/classes/LockupMetadataView.ts
Labels: parser, xsmall-diff

#801 Optimize playlist video removal
  src/core/managers/PlaylistManager.ts
Labels: core, small-diff

#798 feat: Add `getCourses` function to get courses from explore.
  src/Innertube.ts
  test/main.test.ts
Labels: parser, small-diff, tests

#811 feat(parser): add `LiveChatModeChangeMessage` node
  src/parser/classes/livechat/items/LiveChatModeChangeMessage.ts
  src/parser/nodes.ts
Labels: parser, small-diff

#815 chore(parser)!: Remove getters that have been deprecated for a long time
  src/parser/classes/Channel.ts
  src/parser/classes/ChannelAboutFullMetadata.ts
  src/parser/classes/ChannelVideoPlayer.ts
  src/parser/ytmusic/Search.ts
Labels: parser, small-diff

#814 feat(Log)!: Convert Log class to module
  src/parser/helpers.ts
  src/platform/web.ts
  src/utils/Log.ts
  src/utils/StreamingInfo.ts
  src/utils/Utils.ts
  src/utils/index.ts
Labels: parser, medium-diff

#819 feat(parser): Add `animated_image` to `PageHeaderView`
  src/parser/classes/PageHeaderView.ts
Labels: parser, xsmall-diff

#818 chore(Utils): Bump WEB version constant to latest version
  src/utils/Constants.ts
Labels: xsmall-diff

#821 refactor: Cookie-based session fixes and minor additions
  src/core/Session.ts
  src/core/managers/AccountManager.ts
  src/parser/classes/ChannelSwitcherHeader.ts
  src/parser/classes/ChannelSwitcherPage.ts
  src/parser/classes/actions/UpdateChannelSwitcherPageAction.ts
  src/parser/nodes.ts
  src/utils/HTTPClient.ts
Labels: parser, core, small-diff
