Repository LuanRT/YouTube.js, pull requests merged in 2024-06, with the labels that each got.

#663 perf(general): Add session cache and LZW compression
  src/core/Actions.ts
  src/core/Player.ts
  src/core/Session.ts
  src/utils/LZW.ts
  src/utils/index.ts
Labels: core, large-diff

#664 feat(Session): Add `enable_session_cache` option
  src/core/Session.ts
Labels: core, small-diff

#593 Add support for `react-native` platform
  package.json
  src/platform/README.md
  src/platform/react-native.md
  src/platform/react-native.ts
  src/types/PlatformShim.ts
Labels: docs, medium-diff

#672 fix(toDash): Fix image representations not being spec compliant
  src/utils/StreamingInfo.ts
Labels: xsmall-diff

#673 feat(toDash): Add option to include WebVTT or TTML captions
  src/core/mixins/MediaInfo.ts
  src/parser/classes/PlayerCaptionsTracklist.ts
  src/types/StreamingInfoOptions.ts
  src/utils/DashManifest.tsx
  src/utils/StreamingInfo.ts
Labels: parser, core, medium-diff

#676 fix(FormatUtils): Throw an error if download requests fails
  src/utils/FormatUtils.ts
Labels: xsmall-diff
