Repository LuanRT/YouTube.js, pull requests merged in 2024-10, with the labels that each got.

#775 fix(parser): Fix ShortsLockupView assuming that the primary text always exists
  src/parser/classes/ShortsLockupView.ts
Labels: parser, xsmall-diff

#776 fix: fix deno usage of protobuf and jintr
  package.json
  src/platform/deno.ts
Labels: xsmall-diff

#774 chore(protos): Avoid generating unused protobuf code
  dev-scripts/generate-proto.mjs
  protos/generated/misc/common.ts
  protos/generated/misc/params.ts
  protos/generated/youtube/api/pfiinnertube/attestation_response_data.ts
  protos/generated/youtube/api/pfiinnertube/capability_info.ts
  protos/generated/youtube/api/pfiinnertube/client_info.ts
  protos/generated/youtube/api/pfiinnertube/get_watch_request.ts
  protos/generated/youtube/api/pfiinnertube/innertube_context.ts
  protos/generated/youtube/api/pfiinnertube/metadata_update_request.ts
  protos/generated/youtube/api/pfiinnertube/playback_context.ts
  protos/generated/youtube/api/pfiinnertube/player_attestation_request_data.ts
  protos/generated/youtube/api/pfiinnertube/player_request.ts
  protos/generated/youtube/api/pfiinnertube/player_request_caption_params.ts
  protos/generated/youtube/api/pfiinnertube/reel_item_watch_request.ts
  protos/generated/youtube/api/pfiinnertube/request_info.ts
  protos/generated/youtube/api/pfiinnertube/service_integrity_dimensions.ts
  protos/generated/youtube/api/pfiinnertube/third_party_info.ts
  protos/generated/youtube/api/pfiinnertube/user_info.ts
  protos/generated/youtube/api/pfiinnertube/watch_next_request.ts
Labels: xlarge-diff

#786 feat: Support auto-dubbed audio tracks
  src/parser/classes/misc/Format.ts
  src/utils/StreamingInfo.ts
Labels: parser, xsmall-diff

#706 feat(history): Add ability to remove videos from watch history (#706)
  src/parser/classes/menus/Menu.ts
  src/parser/youtube/History.ts
  src/parser/youtube/Library.ts
Labels: parser, small-diff

#787 fix(VideoInfo): Fix like count being undefined
  src/parser/classes/menus/Menu.ts
  src/parser/youtube/History.ts
Labels: parser, xsmall-diff

#789 feat(account): add `channel_handle` to `AccountItem`
  src/parser/classes/AccountItem.ts
Labels: parser, xsmall-diff

#791 fix(VideoCard): fix parsing author, view count and published date
  src/parser/classes/VideoCard.ts
Labels: parser, small-diff

#792 feat(Parser): Add support for parsing subtitle for `Shelf`
  src/parser/classes/Shelf.ts
Labels: parser, xsmall-diff
