Repository LuanRT/YouTube.js, pull requests merged in 2024-08, with the labels that each got.

#713 refactor(Player): Generate and parse player script's `AST`
  package-lock.json
  package.json
  src/core/Player.ts
  src/utils/Utils.ts
Labels: core, medium-diff

#720 fix(Search): Fix it occasionally returning only a small number of results
  src/parser/youtube/Search.ts
Labels: parser, xsmall-diff

#708 feat(Player): Add support for Proof of Identity tokens
  README.md
  src/Innertube.ts
  src/core/Player.ts
  src/core/Session.ts
  src/core/endpoints/PlayerEndpoint.ts
  src/types/Endpoints.ts
Labels: docs, parser, core, small-diff

#729 fix(Session): PoToken not being set correctly
  src/core/Session.ts
Labels: core, xsmall-diff

#731 fix(Session): Fix remote visitor data not gettting used
  src/core/Session.ts
Labels: core, xsmall-diff

#732 feat(parser): Add `VideoAttributesSectionView` node
  src/parser/classes/StructuredDescriptionContent.ts
  src/parser/classes/VideoAttributesSectionView.ts
  src/parser/nodes.ts
Labels: parser, small-diff

#737 fix(ThumbnailOverlayResumePlayback): Update `percent_duration_watched` type
  src/parser/classes/ThumbnailOverlayResumePlayback.ts
Labels: parser, xsmall-diff
