Repository LuanRT/YouTube.js, pull requests merged in 2024-09, with the labels that each got.

#745 fix(parser): The icon_name property does not always exist in ThumbnailBadgeView
  src/parser/classes/ThumbnailBadgeView.ts
Labels: parser, xsmall-diff

#741 fix(ItemSection): FeedFilterChipBar parse error
  src/parser/classes/ItemSection.ts
Labels: parser, xsmall-diff

#746 feat(parser): Add `ShortsLockupView` and `BadgeView` nodes
  src/core/mixins/Feed.ts
  src/parser/classes/BadgeView.ts
  src/parser/classes/ShortsLockupView.ts
  src/parser/nodes.ts
  src/parser/youtube/Playlist.ts
Labels: parser, core, small-diff

#753 refactor: Remove old UMP parser
  src/utils/UMP.ts
  src/utils/index.ts
Labels: small-diff

#754 chore(examples/web): Use `UMP`
  examples/browser/web/package-lock.json
  examples/browser/web/package.json
  examples/browser/web/src/main.ts
Labels: medium-diff

#751 feat: extend music getInfo to allow MusicResponsiveListItem and Nav Endpoints
  src/core/clients/Music.ts
  test/main.test.ts
Labels: core, small-diff, tests

#756 feat: Add `WEB_EMBEDDED` client
  src/core/Player.ts
  src/core/Session.ts
  src/types/Misc.ts
  src/utils/Constants.ts
  src/utils/HTTPClient.ts
Labels: core, small-diff

#757 feat: Add `WEB_CREATOR` client
  src/core/Session.ts
  src/types/Misc.ts
  src/utils/Constants.ts
  src/utils/HTTPClient.ts
Labels: core, small-diff

#762 feat(ProtoUtils): Add support for creating NextParams
  protos/generated/misc/params.ts
  protos/misc/params.proto
  src/utils/ProtoUtils.ts
Labels: small-diff

#765 fix(toDash): Fix dash.js 4.x compatibility
  src/utils/DashManifest.tsx
Labels: xsmall-diff
