Repository LuanRT/YouTube.js, pull requests merged in 2025-03, with the labels that each got.

#924 fix(Constants): Update the iOS client version
  src/utils/Constants.ts
  src/utils/HTTPClient.ts
Labels: small-diff

#915 refactor(internal): Reduce frequent accesses to the same private property
  src/Innertube.ts
  src/core/clients/Kids.ts
  src/core/clients/Studio.ts
  src/utils/HTTPClient.ts
Labels: parser, core, medium-diff

#914 chore(parser): Pass playlist_item_data as a parameter instead of a private property
  src/parser/classes/MusicResponsiveListItem.ts
Labels: parser, small-diff

#935 fix(Player): Parse global variable used by nsig/sig
  package-lock.json
  package.json
  src/core/Player.ts
  src/utils/Utils.ts
Labels: core, medium-diff
