Repository LuanRT/YouTube.js, pull requests merged in 2025-06, with the labels that each got.

#974 feat(StreamingInfoOptions)!: Add `is_sabr` option
  src/core/mixins/MediaInfo.ts
  src/types/StreamingInfoOptions.ts
  src/utils/StreamingInfo.ts
Labels: core, small-diff

#968 fix: Handle CommandExecutorCommand in NavigationEndpoint.call
  src/parser/classes/NavigationEndpoint.ts
Labels: parser, xsmall-diff

#971 fix(Session): Initialize client version based on provided client name
  src/core/Session.ts
Labels: core, small-diff

#874 feat(MediaInfo): Add `updateWatchTime`
  src/core/mixins/MediaInfo.ts
  src/parser/youtube/VideoInfo.ts
  src/parser/ytmusic/TrackInfo.ts
Labels: parser, core, small-diff

#984 feat(parser-classes): Add `CompositeVideoPrimaryInfo` parser class
  src/parser/classes/CompositeVideoPrimaryInfo.ts
  src/parser/nodes.ts
Labels: parser, small-diff
