Repository LuanRT/YouTube.js, pull requests merged in 2025-04, with the labels that each got.

#944 chore(build): More efficient enum emit
  dev-scripts/enum-optimising-transformer.cjs
  tsconfig.json
Labels: medium-diff

#938 fix(HTTPClient): Use the correct constant for the iOS client OS name
  src/utils/HTTPClient.ts
Labels: xsmall-diff

#901 feat(Parser): Add `OpenOnePickAddVideoModalCommand` node
  src/parser/classes/OpenOnePickAddVideoModalCommand.ts
  src/parser/nodes.ts
Labels: parser, small-diff

#951 feat(Session): Add option to override Player ID
  src/core/Player.ts
  src/core/Session.ts
Labels: core, small-diff

#953 fix(Player): Use global var to find signature algorithm
  package-lock.json
  package.json
  src/core/Player.ts
Labels: core, small-diff

#955 fix(Innertube): Properly encoded params in getPostComments()
  src/Innertube.ts
Labels: parser, xsmall-diff
