Repository LuanRT/YouTube.js, pull requests merged in 2025-07, with the labels that each got.

#999 fix(Artist): `getAllSongs` not finding target shelf
  src/parser/ytmusic/Artist.ts
Labels: parser, xsmall-diff

#988 feat(Parser): Add `SectionHeaderView` and `GridShelfView`
  src/parser/classes/GridShelfView.ts
  src/parser/classes/SectionHeaderView.ts
  src/parser/nodes.ts
Labels: parser, small-diff

#902 feat(Parser): Add `ToggleFormField` node
  src/parser/classes/ToggleFormField.ts
  src/parser/nodes.ts
Labels: parser, small-diff

#1001 chore: Remove unused tslib dependency
  package-lock.json
  package.json
  tsconfig.json
Labels: xsmall-diff

#1002 fix(Innertube): Handle redirects in getChannel()
  src/Innertube.ts
Labels: parser, small-diff
