Repository LuanRT/YouTube.js, pull requests merged in 2025-01, with the labels that each got.

#867 chore(parser): Simplify VideoInfo#getTrailerInfo
  src/parser/youtube/VideoInfo.ts
Labels: parser, small-diff

#864 feat(parser): Update `LiveChatTextMessage`
  src/parser/classes/livechat/items/LiveChatTextMessage.ts
Labels: parser, small-diff

#863 feat(ContentMetadataView): Parse `enableTruncation`
  src/parser/classes/ContentMetadataView.ts
Labels: parser, xsmall-diff

#862 fix(Text#fromAttributed): Fix `StyleRun` assuming that the `startIndex` and `length` always exist
  src/parser/classes/misc/Text.ts
Labels: parser, small-diff

#770 feat(Music): Add continuation support for "Up next" tab in `TrackInfo`
  src/parser/types/ParsedResponse.ts
  src/parser/ytmusic/TrackInfo.ts
  test/main.test.ts
Labels: parser, small-diff, tests

#869 feat(Innertube): Add `getAttestationChallenge`
  src/Innertube.ts
  src/core/Actions.ts
  src/parser/parser.ts
  src/parser/types/ParsedResponse.ts
  src/parser/types/RawResponse.ts
  src/types/Misc.ts
Labels: parser, core, small-diff

#870 perf: Optimise DASH manifest generation
  src/utils/DashManifest.tsx
  src/utils/DashUtils.ts
Labels: small-diff

#876 feat(Session): Allow using a fixed user agent for InnerTube requests
  src/core/Session.ts
  src/utils/HTTPClient.ts
Labels: core, small-diff

#875 perf(constants): Move the client name IDs into their own `CLIENT_NAME_IDS` object
  src/core/clients/Studio.ts
  src/utils/Constants.ts
  src/utils/HTTPClient.ts
Labels: core, small-diff

#879 refactor(Constants): Use `as const` instead of `Object.freeze()`
  src/core/Session.ts
  src/core/mixins/MediaInfo.ts
  src/utils/Constants.ts
Labels: core, small-diff

#884 feat(FormatUtils): choose more specific format by itag or codec
  src/types/FormatUtils.ts
  src/utils/FormatUtils.ts
Labels: small-diff
