Repository LuanRT/YouTube.js, pull requests merged in 2025-02, with the labels that each got.

#889 refactor: Remove internal uses of the `.first()` and `.matchCondition()` helpers
  src/core/Actions.ts
  src/core/clients/Music.ts
  src/core/mixins/Feed.ts
  src/parser/classes/MusicResponsiveListItem.ts
  src/parser/classes/comments/CommentThread.ts
  src/parser/youtube/AccountInfo.ts
  src/parser/youtube/Channel.ts
  src/parser/youtube/HashtagFeed.ts
  src/parser/youtube/History.ts
  src/parser/youtube/HomeFeed.ts
  src/parser/youtube/Library.ts
  src/parser/youtube/NotificationsMenu.ts
  src/parser/youtube/Playlist.ts
  src/parser/youtube/Search.ts
  src/parser/youtube/TranscriptInfo.ts
  src/parser/youtube/VideoInfo.ts
  src/parser/ytkids/Channel.ts
  src/parser/ytkids/Search.ts
  src/parser/ytmusic/Album.ts
  src/parser/ytmusic/Artist.ts
  src/parser/ytmusic/Library.ts
  src/parser/ytmusic/Playlist.ts
  src/parser/ytmusic/Search.ts
  src/parser/ytmusic/TrackInfo.ts
Labels: parser, core, medium-diff

#887 chore(Utils): Replace private static shim property with a variable
  src/utils/Utils.ts
Labels: xsmall-diff

#888 chore(parser): Simplify d0d48bf525cc2a95dd3397a3142bea113ea9782e
  src/parser/classes/comments/CommentView.ts
Labels: parser, xsmall-diff

#883 feat(Channel): Add `getCourses` method
  src/parser/youtube/Channel.ts
Labels: parser, xsmall-diff

#886 fix(FormatUtils): itag matching
  src/utils/FormatUtils.ts
Labels: small-diff

#885 docs(installation): add install command for deno
  README.md
Labels: docs, xsmall-diff

#882 fix(Innertube): Properly encoded params in `getPost()`
  protos/generated/misc/params.ts
  protos/misc/params.proto
  src/Innertube.ts
Labels: parser, small-diff

#893 chore(constants): update `WEB_CREATOR` version
  src/utils/Constants.ts
Labels: xsmall-diff

#903 feat(parser): Add `AnimatedThumbnailOverlayView`
  .gitignore
  src/parser/classes/AnimatedThumbnailOverlayView.ts
  src/parser/classes/ThumbnailView.ts
  src/parser/nodes.ts
Labels: parser, small-diff, git

#898 fix(PlaylistManager): Playlist ID
  src/core/managers/PlaylistManager.ts
Labels: core, xsmall-diff

#897 fix(Parser): Type mismatch
  src/parser/classes/DialogView.ts
Labels: parser, xsmall-diff

#894 fix(Playlist): is_editable
  src/parser/youtube/Playlist.ts
Labels: parser, xsmall-diff

#896 revert: "fix(toDash): Fix default audio stream for dubbed movie trailers (#858)"
  src/utils/StreamingInfo.ts
Labels: xsmall-diff

#895 fix(innertube): Allowing getStreamingData to use client.
  src/Innertube.ts
Labels: parser, xsmall-diff

#908 chore(constants): Update version numbers to latest
  src/utils/Constants.ts
Labels: small-diff

#909 fix(Format): Parse xtags from protobuf to support SABR-only responses
  protos/generated/misc/common.ts
  protos/misc/common.proto
  src/parser/classes/misc/Format.ts
Labels: parser, small-diff
